<!DOCTYPE html>
<html lang="en">
<head>
   <title>Sign In Existing User</title>
</head>
<body>
   <h1>Sign In Existing User</h1>
   <form action="{{ url_for('sign_in') }}" method="post">
       <label for="email">Email Address:</label><br>
       <input type="text" id="email" name="email" required><br><br>

       <input type="submit" value="Submit">
 

       {% with messages = get_flashed_messages(with_categories=true) %}
       {% if messages %}
         {% for category, message in messages %}
           <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
             {{ message }}
             <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
           </div>
         {% endfor %}
       {% endif %}
     {% endwith %}
   </form>
</body>
</html>
